In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Dataset/house.csv")

In [3]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [4]:
print(df['area_type'].isnull().any())
print(df['availability'].isnull().any())
print(df['location'].isnull().any())
print(df['size'].isnull().any())
print(df['society'].isnull().any())
print(df['total_sqft'].isnull().any())
print(df['balcony'].isnull().any())
print(df['price'].isnull().any())
print(df['bath'].isnull().any())

False
False
True
True
True
False
True
False
True

In [5]:
df['location']=df['location'].fillna(df['location'].mode()[0])
df['size']=df['size'].fillna(df['size'].mode()[0])
df['society']=df['society'].fillna(df['society'].mode()[0])
df['balcony']=df['balcony'].fillna(df['balcony'].mode()[0])
df['bath']=df['bath'].fillna(df['bath'].mode()[0])

In [6]:
locations=df['location'].unique()

In [7]:
df.describe()

               bath       balcony         price
count  13320.000000  13320.000000  13320.000000
mean       2.688814      1.603378    112.565627
std        1.338754      0.803067    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [8]:
min_thresold, max_thresold = df.price.quantile([0.003, 0.097])

In [9]:
df = df[(df.price<max_thresold) & (df.price>min_thresold)]

In [10]:
df.drop(columns=['society'],axis=1,inplace=True)

C:\Users\Alee\Anaconda3\envs\tensorflow\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [11]:
df

,area_type,availability,location,size,total_sqft,bath,balcony,price
20,Built-up Area,Ready To Move,Kengeri,1 BHK,600,1.0,1.0,15.00
24,Super built-up Area,18-Nov,Thanisandra,1 RK,510,1.0,0.0,25.25
26,Super built-up Area,Ready To Move,Electronic City,2 BHK,660,1.0,1.0,23.10
31,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,1075,2.0,1.0,35.00
35,Super built-up Area,21-Dec,Kanakpura Road,2 BHK,700,2.0,1.0,36.00
...,...,...,...,...,...,...,...,...
13224,Super built-up Area,18-Aug,Chandapura,1 BHK,520,1.0,1.0,14.04
13244,Super built-up Area,Ready To Move,Kereguddadahalli,2 BHK,1015,2.0,1.0,35.00
13273,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,1 BHK,510,1.0,1.0,22.00
13291,Plot Area,18-Jan,Weavers Colony,1 Bedroom,812,1.0,0.0,26.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,550,1.0,1.0,17.00

In [12]:
def sizing(text):
    t1=text[0]
    t2=text[1]
    lst=['0','1','2','3','4','5','6','7','8','9']
    if t2 in lst:
        return t1+t2
    else:
        return t1

In [13]:
df['size']=df['size'].apply(sizing)

C:\Users\Alee\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
def make_availability(text):
    if (text!="Ready To Move") and (text!="Immediate Possession"):
        return "Need To Deliver"
    else:
        return text

In [15]:
df['availability']=df['availability'].apply(make_availability)

C:\Users\Alee\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
df=pd.get_dummies(df,columns=['availability','area_type'],drop_first=True)

In [17]:
df

,location,size,total_sqft,bath,balcony,price,availability_Need To Deliver,availability_Ready To Move,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area
20,Kengeri,1,600,1.0,1.0,15.00,0,1,0,0,0
24,Thanisandra,1,510,1.0,0.0,25.25,1,0,0,0,1
26,Electronic City,2,660,1.0,1.0,23.10,0,1,0,0,1
31,Bisuvanahalli,3,1075,2.0,1.0,35.00,0,1,0,0,1
35,Kanakpura Road,2,700,2.0,1.0,36.00,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
13224,Chandapura,1,520,1.0,1.0,14.04,1,0,0,0,1
13244,Kereguddadahalli,2,1015,2.0,1.0,35.00,0,1,0,0,1
13273,Raja Rajeshwari Nagar,1,510,1.0,1.0,22.00,0,1,0,0,1
13291,Weavers Colony,1,812,1.0,0.0,26.00,1,0,0,1,0
13319,Doddathoguru,1,550,1.0,1.0,17.00,0,1,0,0,1

In [18]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['location']=le.fit_transform(df['location'])

In [19]:
df

,location,size,total_sqft,bath,balcony,price,availability_Need To Deliver,availability_Ready To Move,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area
20,164,1,600,1.0,1.0,15.00,0,1,0,0,0
24,7,1,510,1.0,0.0,25.25,1,0,0,0,1
26,93,2,660,1.0,1.0,23.10,0,1,0,0,1
31,58,3,1075,2.0,1.0,35.00,0,1,0,0,1
35,158,2,700,2.0,1.0,36.00,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
13224,69,1,520,1.0,1.0,14.04,1,0,0,0,1
13244,168,2,1015,2.0,1.0,35.00,0,1,0,0,1
13273,228,1,510,1.0,1.0,22.00,0,1,0,0,1
13291,292,1,812,1.0,0.0,26.00,1,0,0,1,0
13319,91,1,550,1.0,1.0,17.00,0,1,0,0,1

In [20]:
def make_sqrft(text):
    if "-" in text:
        x=text.split("-")
        text=(float(x[0])+float(x[1]))/2
    elif "Sq. Meter" in text:
        text=text.replace("Sq. Meter","")
        text=float(text)*10.7639
    elif "Perch" in text:
        text=text.replace("Perch","")
        text=float(text)*272.25
    elif "Sq. Yards" in text:
        text=text.replace("Sq. Yards","")
        text=float(text)*9
    elif "Acres" in text:
        text=text.replace("Acres","")
        text=float(text)*43560
    elif "Cents" in text:
        text=text.replace("Cents","")
        text=float(text)*435.6
    elif "Guntha" in text:
        text=text.replace("Guntha","")
        text=float(text)*1089
    elif "Grounds" in text:
        text=text.replace("Grounds","")
        text=float(text)*2400
    
    return text

In [21]:
df['total_sqft']=df['total_sqft'].apply(make_sqrft)

In [22]:
location_labels=df['location'].unique()

In [23]:
X=df.iloc[:,[0,1,2,3,4,6,7,8,9,10]]
y=df.iloc[:,[5]]

In [24]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import GridSearchCV

#define the model and parameters
knn = KNeighborsRegressor()

parameters = {'n_neighbors':[4,5,6,7],
              'leaf_size':[1,3,5],
              'algorithm':['auto', 'kd_tree'],
              'n_jobs':[-1]}

#Fit the model
model = GridSearchCV(knn, param_grid=parameters)

In [25]:
model.fit(X,y)

GridSearchCV(estimator=KNeighborsRegressor(),
             param_grid={'algorithm': ['auto', 'kd_tree'],
                         'leaf_size': [1, 3, 5], 'n_jobs': [-1],
                         'n_neighbors': [4, 5, 6, 7]})

In [26]:
model.predict([[716,2,1200,2.0,1.0,0,1,0,0,1]])

array([[35.60642857]])

In [27]:
import pickle
file=open("Model/prediction.pkl","wb")
pickle.dump(model,file)
file.close()

In [28]:
import pickle
file=open("Model/prediction.pkl","rb")
model=pickle.load(file)
file.close()

In [29]:
model.predict([[716,2,1200,2.0,1.0,0,1,0,0,1]])

array([[35.60642857]])

In [30]:
lst=[locations,location_labels]

In [31]:
import pickle
lt=open("Model/Locations.pkl","wb")
pickle.dump(lst,lt)
file.close()